<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-menu-button menu="menuPrincipal"></ion-menu-button>
    </ion-menu-button>
    <ion-title>foro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Hola Amigos</ion-label>
    
  </ion-item>
  <ion-item >
    <ion-label slot="end">De Youtube</ion-label>
    <ion-icon slot="end" name="people-outline"></ion-icon>
  </ion-item>
  <ion-item >
    <ion-label>Hoy les traigo</ion-label>
  </ion-item>
  <ion-item >
    <ion-label  slot="end">Un tutorial</ion-label>
    <ion-icon slot="end" name="people-outline"></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
