<app-cabecera [titulo]="'Slides'"></app-cabecera>

<ion-content fullscreen>
  <ion-slides class="slides" pager="true">
    <ion-slide *ngFor="let usuario of usuarios;index as i">
      <ion-card>
        <ion-card-header>
          <img [src]="usuario.avatar" />
          <ion-card-title>{{usuario.first_name}} {{usuario.last_name}}</ion-card-title>

        </ion-card-header>
        <ion-card-subtitle>
          {{usuario.email}}
        </ion-card-subtitle>
        <ion-label>Current user:<ion-chip>
          <ion-label>{{usuario.id}}</ion-label>
        </ion-chip>
      </ion-label>
      </ion-card>

    </ion-slide>
  </ion-slides>
</ion-content>