<ion-header>
  <ion-toolbar>
    <ion-title class="textoBar">Bares Guardados</ion-title>
    <ion-button slot="end" fill="none" (click)="actionSheetOrdenar()">
      <fa-icon icon="sort-amount-up"></fa-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let bar of bares">

    <ion-item-sliding class="tarjetasDeslizantes">
      <ion-item lines="none">
        <div id="tarjetaDelantera">
          <ion-card class="tarjetaBar" *ngIf="!bar.pulsado">

            <div (click)="abrirGeo(bar)" class="enlaceGPS">
              <div class="textoEnlaceGPS">
                <ion-label>Ir al sitio <fa-icon class="iconoIr" icon="map-marked-alt"></fa-icon>
                </ion-label>
              </div>
            </div>


            <img (click)="cambiarTarjeta(bar)" [src]="bar.foto" class="fotoBar">
            <div class="box bottom">
              <ion-item class="textoBar" lines="none">
                <ion-label>{{bar.nombre}}</ion-label>

                <div class="valoracion">
                  <ion-label>
                    <fa-icon icon="star"></fa-icon> {{bar.valoracion}}
                  </ion-label>
                </div>
                <ion-item lines="none">
                  <ion-button fill="none" (click)="mostrarModal(bar)">
                    <fa-icon icon="pen"></fa-icon>
                  </ion-button>
                </ion-item>


              </ion-item>
            </div>

          </ion-card>
        </div>

        <ion-card class="tarjetaReverso" *ngIf="bar.pulsado">

          <div (click)="abrirGeo(bar)" class="enlaceGPS">
            <div class="textoEnlaceGPS">
              <ion-label>Ir al sitio <fa-icon class="iconoIr" icon="map-marked-alt"></fa-icon>
              </ion-label>
            </div>
          </div>


          <div (click)="cambiarTarjeta(bar)" class="fakeFoto">


            <ion-label class="etiquetasReverso">{{bar.nombre}}</ion-label>

            <ion-label class="etiquetasReverso">
              <fa-icon icon="star"></fa-icon> {{bar.valoracion}}
            </ion-label>

            <ion-label class="etiquetasReverso" maxlength="32">{{bar.descripcion}}</ion-label>
            <ion-item class="cartaItem" lines="none">
              <ion-label class="colorApp" (click)="mostrarInAppBrowser(bar.url)">Ver carta</ion-label>
              <ion-button class="colorApp" class="editarReverso" fill="none" slot="end" (click)="mostrarModal(bar)">
                <fa-icon icon="pen"></fa-icon>
              </ion-button>
            </ion-item>


          </div>

        </ion-card>
      </ion-item>
      <ion-item-options class="opcionesSlider" side="end">
        <ion-item-option color="none" (click)="compartir(bar)">
          <fa-icon class="iconoCompartir" icon="share-alt" color="danger"></fa-icon>
        </ion-item-option>
        <ion-item-option color="none" (click)="confirmarEliminacion(bar)">
          <fa-icon class="iconoBasura" icon="trash"></fa-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>



</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button class="fabButtonQR" (click)="escanearCarta()">
    <fa-icon icon="camera"></fa-icon>
  </ion-fab-button>
</ion-fab>



<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>