<ion-header>
  <ion-toolbar>
    <ion-title class="textoBar">Bares Guardados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label *ngIf="!haybares">No hay bares churrita</ion-label>
  <ion-list *ngFor="let bar of bares">
    <div id="tarjetaDelantera">
    <ion-card class="tarjetaBar" *ngIf="!bar.pulsado" (click)="cambiarTarjeta(bar.numeroBar,$event)">
      
        <div class="enlaceGPS">
          <div class="textoEnlaceGPS">
            <ion-label>Ir al sitio <fa-icon class="iconoIr" icon="map-marked-alt"></fa-icon>
            </ion-label>
          </div>
        </div>


        <img [src]="bar.foto" class="fotoBar">
        <div class="box bottom">
          <ion-item class="textoBar" lines="none">
            <ion-label>{{bar.nombre}}</ion-label>
            <div class="valoracion">
              <ion-label>
                <fa-icon icon="star"></fa-icon> {{bar.valoracion}}
              </ion-label>
            </div>
            <ion-item lines="none">
              <ion-button fill="none" (click)="mostrarModal(bar.numeroBar)">
                <fa-icon icon="pen"></fa-icon>
              </ion-button>
            </ion-item>
              
            
          </ion-item>
        </div>
      
    </ion-card>
  </div>
    
    <ion-card class="tarjetaReverso" *ngIf="bar.pulsado">
      
        <div class="enlaceGPS">
          <div class="textoEnlaceGPS">
            <ion-label>Ir al sitio <fa-icon class="iconoIr" icon="map-marked-alt"></fa-icon>
            </ion-label>
          </div>
        </div>


        <div (click)="cambiarTarjeta(bar.numeroBar,$event)" class="fakeFoto">
          
          <ion-item class="listaReverso" lines="none">
            <ion-label class="nombreBar">{{bar.nombre}}</ion-label>
          </ion-item>
            <ion-item class="listaReverso" lines="none">
              <ion-label>
                <fa-icon icon="star"></fa-icon> {{bar.valoracion}}
              </ion-label>
            </ion-item>
            <ion-item class="listaReverso" lines="none">
              <ion-label maxlength="32">{{bar.descripcion}}</ion-label>
            </ion-item>
            
            <ion-item class="listaReverso" lines="none">
              <ion-label><a (click)="mostrarInAppBrowser(bar.url)">Ver carta</a></ion-label>
              <ion-button class="editarReverso" fill="none" slot="end" (click)="mostrarModal(bar.numeroBar)">
                <fa-icon icon="pen"></fa-icon>
              </ion-button>
            </ion-item>
        </div>
        <!-- <ion-button (click)="eliminarBar(bar)" expand="block" shape="round">
          Click me
        </ion-button> -->
    </ion-card>
  
  </ion-list>



</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button class="fabButtonQR" (click)="escanearCarta()">
    <fa-icon icon="camera"></fa-icon>
  </ion-fab-button>
</ion-fab>



<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>