<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><img src="../../../assets/newspaper.svg" width="65" height="36" class="icon" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngFor="let item of items" >
        <a class="nav-link" [routerLink]="item.ruta">{{item.nombre}}<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control borderBuscar mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-color my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

 